
<mat-sidenav-container class="navigation-drawer">
    <mat-sidenav mode="side" opened class="sidenav-drawer">
        <div class="navigation-drawer-content">
            <button mat-raised-button color="basic" (click)=showProjectsList()>
                <mat-icon>
                    home
                </mat-icon>
                Home
            </button>
            <button mat-raised-button color="basic" aria-label="Logout" (click)=logout()>
                <mat-icon>
                    exit_to_app
                </mat-icon>
                Logout
            </button>
            <button mat-raised-button color="basic" (click)=share()>
                <mat-icon>
                    share
                </mat-icon>
                Share
            </button>
            <button mat-raised-button color="primary" (click)=newFile()>
                <mat-icon>
                    note_add
                </mat-icon>
                New File
            </button>
        </div>
        <mat-divider></mat-divider>
        <div class="file-list">
            <mat-action-list class="sourceFileList">
                <mat-list-item *ngFor="let sourceFile of parent.sourceFiles">
                    <button mat-raised-button (click)="showFile(sourceFile)">
                        {{ sourceFile.name }}
                    </button>
                 </mat-list-item>
            </mat-action-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <app-code-editor></app-code-editor>
        <mat-divider></mat-divider>
        <app-compiler-output></app-compiler-output>
    </mat-sidenav-content>
  </mat-sidenav-container>